adminUser: admin
adminPassword: admin123

persistence:
  enabled: false

extraVolumes:
  - name: grafana-data
    emptyDir: {}

extraVolumeMounts:
  - name: grafana-data
    mountPath: /var/lib/grafana

service:
  type: ClusterIP
  port: 80

resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "200m"
    memory: "256Mi"

